In [ ]:
######### INDENTATION #########
age=32
if age>30:
  
  print(age)

32

In [5]:
######### LINE CONTINUATION ##########
total=1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [4]:
######### TYPE ##########

Age= 20

type(Age)
variable=10
print(type(variable))
variable="Talha"
print(type(variable))

<class 'int'>
<class 'str'>

In [7]:
######### VARIABLES ##########

age=32
height=6.1
name="Fareedi"
is_student=True

## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)

age : 32
Height: 6.1
Name: Fareedi

In [9]:
######### INPUT AND OPERATIONS #########

### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

## Arithmethic Operation
a=10
b = 5
add_result=a+b #addiiton
sub_result=a-b #substraction 
mult_result=a*b #multiplication
div_result=a/b #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation
exponent_result=a**b ## Exponentiation

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)

Sum: 108.0
Difference: -68.0
Product: 1760.0
Quotient: 0.22727272727272727
15
5
50
2.0
2
0

In [ ]:
######### COMPARISON #########

a=10
b=10
a==b

False

In [12]:
num1=45
num2=55

num1>num2

False

In [ ]:
#########  LOGICAL #########

X=True
Y=True

result =X and Y
print(result)

True

In [23]:
#########  CONTROL FLOW  #########

age=16

if age>=18:
  print("You are eligible for voting")
else:
  print("You are a minor")

age=17

if age<13:
    print("You are a child")
elif age<18:
    print("You are a teenager")
else:
    print("You are an adult")

num=int(input("Enter the number"))

if num>0:
  print("The number is positive")
  if num%2==0:
    print("The number is even")
  else:
    print("The number is odd")

else:
  print("The number is zero or negative")

You are a minor
You are a teenager
The number is positive
The number is odd

In [25]:
## Assignment
## Simple Calculator program
# Take user input
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")

# Perform the requested operation
if operation == '+':
  result = num1 + num2
elif operation == '-':
  result = num1 - num2
elif operation == '*':
  result = num1 * num2
elif operation == '/':
  if num2 != 0:
    result = num1 / num2
  else:
    result = "Error! Division by zero."
else:
  result = "Invalid operation."

print("Result:", result)

Result: 45.0

In [27]:
#########  RANGE AND FOR LOOP  #########

range(5)

for i in range(5):
  print(i)

for i in range(1,10,2):
  print(i)

# FOR LOOP
str="Talha"

for i in str:
  print(i)

0
1
2
3
4
1
3
5
7
9
T
a
l
h
a

In [ ]:
#########  WHILE LOOP    #########

count=0

while count<5:
  print(count)
  count=count+1

#########  SOME EXAMPLES    #########  
#1
for i in range(10):
  if i==5:
    break
  print(i)
#2
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")
#3
for i in range(10):
    if i%2==0:
        continue
    print(i)

#4
n=10   
sum=0
for i in range(11):
    sum=sum+i

print(sum)

0
1
2
3
4
0
1
2
3
4
i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1
1
3
5
7
9
55
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [32]:
## Example- Prime numbers between 1 and 100

for num in range(1,101):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
    else:
      print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [33]:
# DAY 3 ASG AGE CALCULATOR

age=float(input("Enter Your age in Years"))

months=age*12
days=age*365
min=days*24*60
sec=min*60

print("##### Your age is in #####\n")

print("Month's =",months,"\n","Day's =", days, "\n" ,"Min's =", min ,"\n" ,"Sec's =" ,sec)
#we can write this also as write below

print(f"Month's = {months}\nDay's = {days}\nMin's = {min}\nSec's = {sec}",)

#f in print statement is called f-string its a way to write veriables in string using {} bralets

##### Your age is in #####

Month's = 276.0
 Day's = 8395.0
 Min's = 12088800.0
 Sec's = 725328000.0
Month's = 276.0
Day's = 8395.0
Min's = 12088800.0
Sec's = 725328000.0