In [ ]:
######### INDENTATION #########
a=12
if a==10:
    print("true")   # spacing between lines
else:
    print("false")    

######### LINE CONTINUATION ##########

a=10+20+30+\
40+50                #To go next line

print(a)

false
150

In [7]:
######### TYPE ##########

a=10

type(a)
######### VARIABLES ##########

a=10;b=10.1;c="aqib";d='a';e=True

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [ ]:
######### INPUT AND OPERATIONS #########
age=float(input("Enter Your age"))

print("Your age is:",age)

Your age is: 20.0

In [12]:
######### COMPARISON #########
a=20;b=20

if a==b:
    print("Both are same")
else:
    print("Both are different")  

#########  LOGICAL #########
if a>=b:
    print("same")
else:
    print("Not same")    
#########  CONTROL FLOW  #########
num1=float(input("ENter number 1"))
num2=float(input("enter number 2"))
op=input("enter operator +,-,*,/")

if op =='+':
    print("sum of num1 and num2 is:",num1+num2)
elif op=='-':
        print("sub of num1 and num2 is:",num1-num2)
elif op=='*':
     print("addition of num1 and num2 is:",num1*num2)
elif op=='/':
     if(num2==0):
          print("enter num2 except 0 beacause 0 is not divisible")
     else:
          print("div of num1 and num2 is:",num1/num2)  
else:
     print("Enter required fields first")

Both are same
same
enter num2 except 0 beacause 0 is not divisible

In [ ]:
#########  RANGE AND FOR LOOP  #########
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
#########  WHILE LOOP    #########

a=10
while a<=20:
 print(a)
 a=a+1

## Example- Prime numbers between 1 and 100

for num in range(1, 101):  # 1 se 100 tak numbers check karo
    if num > 1:  # prime numbers hamesha 1 se bade hote hain
        for i in range(2, num):  # 2 se le kar num-1 tak divide karke check karo
            if num % i == 0:  # agar evenly divide ho gaya
                break         # prime nahi hai, loop break karo
        else:  # ye 'else' for loop ke sath hai (tab run hota hai jab loop break na ho)
            print(num)  # prime number print karo

10
11
12
13
14
15
16
17
18
19
20
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
studentslist=[]

In [31]:
studentnames=['aqib','saqib']

print(studentnames)

studentnames.append('mohsin')
print(studentnames)
studentnames.remove('mohsin')
print(studentnames)
studentnames.append('mohsin')
print(studentnames)
studentnames.pop()
print(studentnames)

studentnames.insert(1,'raffi')

print(studentnames)

cn=studentnames.__len__()

print(cn)

aq="aqib"

for i in aq:
    print(i)

['aqib', 'saqib']
['aqib', 'saqib', 'mohsin']
['aqib', 'saqib']
['aqib', 'saqib', 'mohsin']
['aqib', 'saqib']
['aqib', 'raffi', 'saqib']
3
a
q
i
b

In [35]:

num=10
sq= [i**2 for i in range(num)]
print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
def greet(name="Guest"):
  print(f"Hello {name} Welcome To the paradise")

greet("Talha")

Hello Talha Welcome To the paradise

In [38]:
even1=lambda num:num%2==0
even1(12)

addition=lambda n1,n2:n1+n2
addition(12,12)

24

In [50]:
dic={
     "name":"aqib",
     "age":"21",
      "dep":"com"

}

ls=list(dic.keys())
print(ls)
print(ls[1])

['name', 'age', 'dep']
age

In [51]:
# encapsulation

class baccount:
    def __init__(self,balance):
     self.__balance=balance

    def deoposit(self,amount):
       self.__balance +=amount

    def getbalance(self):
       return self.__balance 
    

b=baccount(1000)

b.deoposit(2000)
b.getbalance()

3000

In [52]:
fruitslist=["apple","grapes","orange"]
print(fruitslist.count("apple"))

1

In [53]:
fruitslist.insert(4,"ab")
print(fruitslist)

['apple', 'grapes', 'orange', 'ab']

In [3]:
###Sqllite 


import sqlite3

conn=sqlite3.connect("practise.db")

cursor=conn.cursor()
conn.commit()

In [8]:
cursor.execute(''' Create table if not exists Students( id int primary key,name text,section text)   ''')

In [13]:
##cursor.execute(''' drop table Students''')

cursor.execute('''insert into Students(name,section)Values(?,?) ''',("Aqib","C"))

In [ ]:
conn.commit()

In [21]:
rec=cursor.execute(''' Select *from Students''')

print(rec.fetchall())

[(None, 'Aqib', 'C')]

In [ ]:
import numpy as np

array1=np.array([1,2,3])
array2=np.array([[1,2,3],[2,3,4]])

print(array1.ndim) #ndim Ye bas array ki dimensions (number of axes) batata hai.
print(array2.ndim)

1
2

In [26]:
print(array1.shape) #jb 1 dimention ho to iska mtlb is mai elements ki counting kia bs whi btay ga

print(array2.shape) #shape is mai phly row or phr column ka number btata

print(array1.size)  #agr 3 diemention ho to 1 wala no of blog ko represent krta or phr row or column
print(array2.size)

arr = np.array([
    [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]],

    [[10, 11, 12],
     [13, 14, 15],
     [16, 17, 18]]
])

print(arr.shape)
print(arr.size)
print(arr.dtype)

(3,)
(2, 3)
3
6
(2, 3, 3)
18
int64

In [28]:
#to change datatype of array

ar3=np.array([1,2,3],dtype=float)
print(ar3)
print(ar3.dtype)

[1. 2. 3.]
float64