In [ ]:
#From today we will start data science course

#1. Sql Lite

import sqlite3

connection=sqlite3.connect("Aqib.db")  #to create a database   online sqlviewer to view .dbfile

"Create table if not exists tech_ninjas(id integer, name Text not null,age integer, department text)"

In [ ]:
cursor=connection.cursor()
#To create Table
cursor.execute("Create table if not exists tech_ninjas(id integer, name Text not null,age integer, department text)"
)

In [ ]:
connection.commit() #must have to do this

In [11]:
cursor.execute("Select *from tech_ninjas")
connection.commit()

In [15]:
#Insert data

cursor.execute('''insert into tech_ninjas(id,name,age,department)values(2,'Aqib','23','IT')''')
cursor.execute('''insert into tech_ninjas(id,name,age,department)values(3,'Saqib','33','IT')''')
cursor.execute('''insert into tech_ninjas(id,name,age,department)values(4,'Kamran','34','IT')''')
connection.commit()

In [16]:
connection.commit()