In [35]:
#From today we will start data science course

#1. Sql Lite

import sqlite3

connection=sqlite3.connect("Aqib.db")  #to create a database   online sqlviewer to view .dbfile

##"Create table if not exists tech_ninjas(id integer, name Text not null,age integer, department text)"

In [ ]:
cursor=connection.cursor()
#To create Table
cursor.execute("Create table if not exists tech_ninjas(id integer, name Text not null,age integer, department text)"
)

In [ ]:
connection.commit() #must have to do this

In [36]:
#How to fetch data 
cursor.execute("Select * from tech_ninjas")
rows=cursor.fetchall() 

for r in rows:
    print(r)

ProgrammingError: Cannot operate on a closed database.

In [ ]:
#Insert data
#executemany()  this is use to add a list in database/multiple records
cursor.execute('''insert into tech_ninjas(id,name,age,department)values(2,'Aqib','23','IT')''')
cursor.execute('''insert into tech_ninjas(id,name,age,department)values(3,'Saqib','33','IT')''')
cursor.execute('''insert into tech_ninjas(id,name,age,department)values(4,'Kamran','34','IT')''')
connection.commit()

In [22]:
connection.commit()

In [27]:
#To update record

cursor.execute('''update tech_ninjas set age=40 where name="Aqib"''')

connection.commit()

In [37]:
connection.close()