In [1]:
import pandas as pd

In [2]:
rf=pd.read_csv("Churn_Modelling.csv")

In [3]:
rf.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [6]:
fdata=rf.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [7]:
fdata.head(2)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
gender_lable=LabelEncoder()
geo_lable=LabelEncoder()

In [10]:
fdata['Gender']=gender_lable.fit_transform(fdata['Gender'])

In [12]:
fdata['Geography']=geo_lable.fit_transform(fdata['Geography'])

In [14]:
fdata.head(1)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.0,1,1,1,101348.88,1

In [15]:
from sklearn.preprocessing import StandardScaler

In [17]:
sc=StandardScaler()

x=sc.fit_transform(fdata.drop('Exited',axis=1))
y=fdata['Exited']

In [22]:
from tensorflow.keras.models import Sequential

from tensorflow.keras.layers import Dense

In [23]:
model=Sequential()

In [32]:
model.add(Dense(16,activation='relu', input_shape=(x.shape[1],)))

model.add(Dense(8,activation='relu'))

model.add(Dense(1,activation='sigmoid'))


model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

history = model.fit(x, y, epochs=20, batch_size=32, validation_split=0.2)

Epoch 1/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 7ms/step - accuracy: 0.7937 - loss: 0.4875 - val_accuracy: 0.8050 - val_loss: 0.4504
Epoch 2/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.7984 - loss: 0.4370 - val_accuracy: 0.8115 - val_loss: 0.4380
Epoch 3/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - accuracy: 0.8135 - loss: 0.4229 - val_accuracy: 0.8165 - val_loss: 0.4283
Epoch 4/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.8274 - loss: 0.4096 - val_accuracy: 0.8245 - val_loss: 0.4171
Epoch 5/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8375 - loss: 0.3940 - val_accuracy: 0.8330 - val_loss: 0.4041
Epoch 6/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8460 - loss: 0.3790 - val_accuracy: 0.8365 - val_loss: 0.3904
Epoch 7/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8515 - loss: 0.3676 - val_accuracy: 0.8380 - val_loss: 0.3804
Epoch 8/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8546 - loss: 0.3599 - val_accuracy: 0.8435 - val_loss: 0.3738
Epoch 9/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8547 - loss: 0.3543 - val_accuracy: 0.8445 - val_loss: 0.3719
Epoch 10/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8562 - loss: 0.3514 - val_accuracy: 0.8450 - val_loss: 0.3690
Epoch 11/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8574 - loss: 0.3497 - val_accuracy: 0.8470 - val_loss: 0.3670
Epoch 12/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8574 - loss: 0.3475 - val_accuracy: 0.8460 - val_loss: 0.3662
Epoch 13/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8590 - loss: 0.3460 - val_accuracy: 0.8470 - val_loss: 0.3642
Epoch 14/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8587 - loss: 0.3446 - val_accuracy: 0.8425 - val_loss: 0.3632
Epoch 15/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8595 - loss: 0.3437 - val_accuracy: 0.8460 - val_loss: 0.3636
Epoch 16/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8602 - loss: 0.3424 - val_accuracy: 0.8470 - val_loss: 0.3628
Epoch 17/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8604 - loss: 0.3418 - val_accuracy: 0.8450 - val_loss: 0.3633
Epoch 18/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8615 - loss: 0.3409 - val_accuracy: 0.8400 - val_loss: 0.3646
Epoch 19/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8610 - loss: 0.3403 - val_accuracy: 0.8440 - val_loss: 0.3641
Epoch 20/20
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8605 - loss: 0.3394 - val_accuracy: 0.8440 - val_loss: 0.3652